.card-holder {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-holder .md-card {
  width: 50%;
}

#app{
	height: 50%;
}

.row{
	width: 55%;
	margin-left: 21%;
}

.favorites{
  position: absolute;
  top: 0%;
  left: 85%;
  width: 15%;
}

.pre-now{
  position: fixed;
  top: 9%;
  left: 1%;
  width: 22%;
}

.md-list{
  border-style: outset;
  bottom: 10px;
}

.phone-viewport {
  width: 70%;
}

img{
  position: relative;
  left: 45%;
  top: 50%;
}
