<div class="container">
  <!--  -->
  <div class="pre-now" v-if="prev_now.length > 0">
    <h2>{{info_local[0].name}} {{info_local[0].country}} Now</h2> <br>  
    <md-list v-for="now in prev_now">
      <md-list-item>
        <img :src=now.icon>
      </md-list-item>
      <md-divider></md-divider>
      <md-list-item>
        Weather: {{now.weather}} 
      </md-list-item>
      <md-divider></md-divider>
      <md-list-item>
        Humidity: {{now.humidity}}% 
      </md-list-item>
      <md-divider></md-divider>
      <md-list-item>
        Temperature: {{now.temp}} 
      </md-list-item>
      <md-divider></md-divider>
    </md-list>
  </div>
  <div class="favorites">
    <h2>Favorites
    <md-icon class="md-primary">star</md-icon><br><br>    
    </h2>
    <md-list v-if="favorites.length > 0">
      <md-list-item v-on:click.native="goToFavorite(fav)" v-for="fav in favorites">
        {{fav}} <md-divider></md-divider>
      </md-list-item>
    </md-list>
  </div>
  <div class="card-holder">
    <md-card>
      <md-card-header>
        <div class="md-title">Weather APP</div>
      </md-card-header>
      <md-card-content>
        <md-input-container>
          <label for="msg">Location</label>
          <md-input id="complete" type="text" v-model="local" v-on:keyup.13.native="getDataForecast"></md-input>
        </md-input-container>
        <md-button class = "md-raised md-primary" v-on:click.native="getDataForecast">
          Search
        </md-button>
      </md-card-content>
    </md-card>
</div>
  <!-- Weather List -->
  <div class="row">
    <center> 
      <div v-if="info_local[0]"> <h2> {{info_local[0].name}} {{info_local[0].country}} Forecast </h2>
        <md-button type="button" class="md-icon-button md-raised md-primary" v-on:click.native="addFavorite" v-if="favorites.indexOf(info_local[0].name) < 0">
          <md-icon>star</md-icon>
        </md-button>
        <md-button type="button" class="md-icon-button md-raised" disabled v-on:click.native="addFavorite" v-else>
          <md-icon>star</md-icon>
        </md-button>
        <md-button class="md-raised md-accent" v-on:click.native="clear">
          Clear
        </md-button>
      </div>
      <br>
      <div class="phone-viewport">
        <md-list class="md-dense" v-for="p in prev">
          <md-list-item>
            <img :src=p.icon>
          </md-list-item>
          <md-divider></md-divider>
          <md-list-item>
            <strong>Day: </strong>{{p.day}} 
          </md-list-item>
          <md-divider></md-divider>
          <md-list-item>
            <strong>Weather: </strong>{{p.weather}}
          </md-list-item>
          <md-divider></md-divider>
          <md-list-item>
            <strong>Humidity: </strong>{{p.humidity}}%
          </md-list-item>
          <md-divider></md-divider>
          <md-list-item>
            <strong>Min. Temperature: </strong>{{p.temp_min}} h
          </md-list-item>
          <md-divider></md-divider>
          <md-list-item>
            <strong>Max. Temperature: </strong>{{p.temp_max}} h
          </md-list-item>
        </md-list>
      </div>
    </center>
  </div>
</div>